h1, h2, h3, h4, h5, h6, p, span {
    font-family: $font-family-sans-serif;
}

body {
    min-width: 468px;
    height: 100%;
    margin: 0;
    padding: 0;
}

.fullscreen {
    position: fixed;
    width: 105%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    align-content: center;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: transparent;
}

.transparent {
    background: rgb(255, 255, 255, 0.8);
}

.bg-light-grey {
    background-color: #dddddd;
}

.square-100 {
    max-width: 100px;
    max-height: 100px;
    min-height: 100px;
    min-width: 100px;

.square-240 {
    max-height: 240px;
    min-height: 240px;
    max-width: 240px;
    min-width: 240px;
}
